.listI{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index:1;
    // justify-content: space-around;
    // align-items: center;
    // height: 30px;

   justify-content: space-around;
   align-items: center;

}